// assets/styles/custom.scss

// Rayas alternadas para todas las tablas
.v-data-table tbody tr:nth-of-type(even) {
  background-color: #f5fbff ;
}

// .v-data-table tbody tr:nth-of-type(even) {
//   background-color: #d23c85;
// }

// .v-data-table tbody tr:hover {
//   background-color: #103a57 !important;
// }

